header {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
}

.logo-header {
    width: 100%;
    max-width: 134px;
}

.doc {
    margin: 0 auto;
    max-width: 800px;
    padding: 1rem;
    line-height: 1.5;
}

canvas {
    display: block;
    border: 2px solid #888;
}

#cvshd,
#cvs,
#downloadlink {
    display: none;
}

.a-btn {
    max-width: 146px;
    all: unset;
    flex: 0 0 auto;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    border-width: 0;
    border-radius: 0;
    background-color: transparent;
    white-space: nowrap;
    cursor: pointer;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    line-height: 1.5;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0em;
    font-variant-ligatures: common-ligatures;
    font-variant-numeric: oldstyle-nums;
    font-kerning: normal;
    font-feature-settings: "salt";
    font-family: neue-haas-grotesk-text, sans-serif;
    font-size: 16px;
    font-weight: 500;
    justify-content: space-between;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px 0;
}

.a-btn--primary {
    background-color: #181a1c;
    color: white;
    position: relative;
    border: 2px solid #181a1c;
    transition: color 195ms ease, background-color 195ms ease, border-color 195ms ease;
}

.a-icon {
    position: relative;
}

.a-btn__icon {
    display: flex;
    margin-left: 8px;
}

svg.icon {
    fill: #009bdb;
}

label {
    font-weight: 600;
}

form {
    max-width: 600px;
}

input[type=text],
select {
    all: unset;
    display: block;
    font-family: 'neue-haas-grotesk-display', 'Helvetica Neue', helvetica, sans-serif;
    border-bottom: 2px solid #ccc;
    transition: border-color 195ms cubic-bezier(0.25, 0.1, 0.25, 1);
    height: 56px;
    min-height: 56px;
    margin-bottom: 1rem;
    width: 100%;
}

input[type=text]:focus,
select:focus {
    border-bottom-color: #009bdb;
}

input[type=text]:hover,
select:hover {
    border-bottom-color: #181a1c;
}

select {
    display: flex;
    align-items: flex-end;
}

.plus-icon {
    position: relative;
}

.plus-icon span {
    position: absolute;
    right: 0;
    font-size: 26px;
    top: 50%;
    transform: translateY(-10px);
    color: #009bdb;
    z-index: -1;
}

body {
    color: #181a1c;
    font-size: 100%;
    font-family: 'neue-haas-grotesk-display', 'Helvetica Neue', helvetica, sans-serif;
    margin: 0;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1;
    margin: 0;
}

p {
    max-width: 600px;
}

#imgs {
    margin: 2rem 0;
    max-width: 100%
}

#imgs img {
    width: 100%;
    max-width: 600px;
}

#ratioOptions:hover #ratioTooltip {
    display: block;
}

#ratioTooltip {
    display: none;
    background: #f1f4f7;
    margin-left: 20px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width: 200px;
    height: auto;
    font-size: .8rem;
    line-height: 1.5;
}